body {
  background-color: #f5f1fe;
}
.weather-update {
  background: white;
  max-width: 650px;
  margin: 50px 35px auto;
  border-radius: 4px;
  padding: 30px;
  box-shadow: 10px 5px 5px rgb(207, 205, 205);
}
header {
  border-bottom: 1px solid #d6c8ae;
  padding: 0 0 30px 0;
}

.search-form-input {
  background-color: #f2f1f7;
  border: none;
  border-radius: 6px;
  width: 450px;
  padding: 15px 20px;
  font-size: 16px;
}

.search-form-button {
  background-color: #885df1;
  padding: 15px 25px;
  border-radius: 6px;
  color: #ffffff;
  margin-left: 5px;
  font-size: 16px;
}
main {
  padding: 30px 0;
}
.weather-update-data {
  display: flex;
  justify-content: space-between;
}
.weather-update-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}
.weather-update-details {
  font-size: 16px;
  line-height: 24px;
  color: grey;
  font-weight: 500;
}
.weather-update-details strong {
  color: #841c45;
}
.weather-update-container {
  display: flex;
}
.weather-update-icon {
  width: 88px;
  line-height: 88px;
  margin-left: 5px;
}
.weather-update-temperature {
  font-size: 80px;
  line-height: 88px;
}
.weather-update-unit {
  margin-top: 6px;
  font-size: 25px;
}

footer {
  border-top: 1px solid #d6c8ae;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 13px;
  color: #841c45;
}
.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.weather-forecast-date {
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.weather-forecast-icon {
  font-size: 38px;
  text-align: center;
}
.weather-forecast-temperatures {
  text-align: center;
  color: #f65282;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.weather-forecast-temperature {
  padding: 0 10px;
}
